 * {
     margin: 0;
     padding: 0;
 }

 ul,
 li {
     list-style-type: none;
 }

 body {
     font-family: Arial, Helvetica, sans-serif;
     background-image: url("../imges/背景图片.jpg");
     background-position: top left;
     background-repeat: no-repeat;
     background-size: 100%;
     overflow: hidden;
 }

 #banner {
     padding-top: 130px;
     position: relative;
 }

 #banner .login {
     width: 450px;
     min-height: 320px;
     border-radius: 8px;
     background-color: white;
 }

 #banner .biaodan .formSize {
     width: 270px;
     height: 40px;
     margin: 0 auto;
 }

 #banner .tailMeun {
     position: absolute;
     bottom: 10px;
     right: 10px;
     letter-spacing: 0.1em;
 }

 #banner .tailMeun a {
     color: black;
 }

 /* logo */
 #logo ul li {
     margin: 0 20px;
     text-align: center;
     float: left;
 }

 #logo ul .iconfont {
     color: white;
     font-size: 35px;
 }

 #logo ul h4 {
     color: white;
 }

 /* 上移 */
 ul li:hover {
     animation: moveUp 3s ease-in-out;
 }

 /* .moveUp:hover{
    transform:translateY(-50%);
} */

 @keyframes moveUp {
     0% {
         transform: translateY(0%);
     }

     10% {
         transform: translateY(-25%);
     }
 }

 /* foot尾部 */
 #footer h4 {
     font-size: 16px;
     color: white;
     font-weight: 400;
     letter-spacing: 0.1em;
 }

 #footer .footer_one a {
     color: white;
 }

 #footer .footer_two a {
     color: white;
 }

 #footer .footer_there a {
     color: white;
 }